.sidebar {
  padding: 30px;
  width: 240px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sidebar-logo {
  margin-bottom: 30px;
  margin-top: 0;
  color: var(--primary);
  font-size: 24px;
  font-weight: 700;
  text-align: start;
}

.sidebar-nav {
  flex: 1;
  overflow-y: auto;
}

.sidebar-footer {
  margin-top: auto;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--bg-gray);
  color: var(--black);
  border-radius: 8px;
  text-decoration: none;
  transition: all 0.2s;
  gap: 16px; 
  font-weight: 500;
  border: none;
  cursor: pointer;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
}

.logout-link {
  color: var(--danger);
}
.nav-link:hover {
  background-color: var(--bg-white);
}

.nav-link.active {
  background-color: var(--bg-white);
  color: var(--black);
}

.nav-icon {
  font-size: 20px;
  width: 24px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-label {
  font-size: 14px;
}

@media (max-width: 992px) {
  .sidebar {
    display: none;
  }
}